<div class="c-slide01">
  <div class="c-slide">
    <div class="splide splide01" aria-label="Splideの基本的なHTML">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <picture class="c-slide01__img">
              <source srcset="./img/slideAuto01@2x.webp" type="image/webp">
              <img src="./img/slideAuto01@2x.jpg" alt="赤いリボン型バッグとレモンやリンゴを使ったカラフルなスタイリング写真" width="731" height="921" loading="lazy" decoding="async">
            </picture>
          </li>
          <li class="splide__slide">
            <picture class="c-slide01__img">
              <source srcset="./img/slideAuto02@2x.webp" type="image/webp">
              <img src="./img/slideAuto02@2x.jpg" alt="Hello Kitty刺繍入りの白いトップスを着た女性がピクニックシートに寝そべる様子" width="731" height="921" loading="lazy" decoding="async">
            </picture>
          </li>
          <li class="splide__slide">
            <picture class="c-slide01__img">
              <source srcset="./img/slideAuto03@2x.webp" type="image/webp">
              <img src="./img/slideAuto03@2x.jpg" alt="Hello Kittyロゴとリボン、真珠で装飾されたガーリーデザインのスニーカー" width="731" height="921" loading="lazy" decoding="async">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>