<div class="c-slide02">
  <div class="c-slide">
    <div class="splide splide02" aria-label="Splideの基本的なHTML">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <article class="c-card01 _collab">
              <a href="#" class="c-card01__link" target="_blank" rel="noopener noreferrer">
                <div class="c-card01__imgBlock">
                  <picture class="c-slide02__img">
                    <source srcset="./img/slide01@2x.webp" type="image/webp">
                    <img src="./img/slide01@2x.jpg" alt="Hello Kitty刺繍が入った白い半袖カーディガン" width="731" height="921"
                      loading="lazy" decoding="async">
                  </picture>
                </div>
                <div class="c-card01__content">
                  <h2 class="c-card01__title">タイトルが入ります</h2>
                  <p class="c-card01__price">￥<span class="c-card01__priceLarge">6,000</span>&nbsp;tax&nbsp;in</p>
                  <div class="c-card01__button">
                    <div class="c-button02">buy</div>
                  </div>
                </div>
              </a>
            </article>
          </li>
          <li class="splide__slide">
            <article class="c-card01 _collab">
              <a href="#" class="c-card01__link" target="_blank" rel="noopener noreferrer">
                <div class="c-card01__imgBlock">
                  <picture class="c-slide02__img">
                    <source srcset="./img/slide02@2x.webp" type="image/webp">
                    <img src="./img/slide02@2x.jpg" alt="Hello Kittyロゴ入りシューレースと赤リボン付き厚底スニーカー" width="731" height="921"
                      loading="lazy" decoding="async">
                  </picture>
                </div>
                <div class="c-card01__content">
                  <h2 class="c-card01__title">タイトルが入ります</h2>
                  <p class="c-card01__price">￥<span class="c-card01__priceLarge">7,200</span>&nbsp;tax&nbsp;in</p>
                  <div class="c-card01__button">
                    <div class="c-button02">buy</div>
                  </div>
                </div>
              </a>
            </article>
          </li>
          <li class="splide__slide">
            <article class="c-card01 _collab">
              <a href="#" class="c-card01__link" target="_blank" rel="noopener noreferrer">
                <div class="c-card01__imgBlock">
                  <picture class="c-slide02__img">
                    <source srcset="./img/slide03@2x.webp" type="image/webp">
                    <img src="./img/slide03@2x.jpg" alt="大きなリボンデザインが印象的な赤いハンドバッグ" width="731" height="921"
                      loading="lazy" decoding="async">
                  </picture>
                </div>
                <div class="c-card01__content">
                  <h2 class="c-card01__title">タイトルが入ります</h2>
                  <p class="c-card01__price">￥<span class="c-card01__priceLarge">4,500</span>&nbsp;tax&nbsp;in</p>
                  <div class="c-card01__button">
                    <div class="c-button02">buy</div>
                  </div>
                </div>
              </a>
            </article>
          </li>
          <li class="splide__slide">
            <article class="c-card01 _collab">
              <a href="#" class="c-card01__link" target="_blank" rel="noopener noreferrer">
                <div class="c-card01__imgBlock">
                  <picture class="c-slide02__img">
                    <source srcset="./img/slide04@2x.webp" type="image/webp">
                    <img src="./img/slide04@2x.jpg" alt="裾にフリルをあしらったデニムミニスカート" width="731" height="921" loading="lazy"
                      decoding="async">
                  </picture>
                </div>
                <div class="c-card01__content">
                  <h2 class="c-card01__title">タイトルが入ります</h2>
                  <p class="c-card01__price">￥<span class="c-card01__priceLarge">3,800</span>&nbsp;tax&nbsp;in</p>
                  <div class="c-card01__button">
                    <div class="c-button02">buy</div>
                  </div>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>