<div class="c-slide03">
  <div class="c-slide">
    <div class="splide splide03" aria-label="Splideの基本的なHTML">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <picture class="c-slide01__img">
              <source srcset="./img/slideAuto04@2x.webp" type="image/webp">
              <img src="./img/slideAuto04@2x.jpg" alt="Hello Kitty刺繍入りトップスとリボン付きバッグを組み合わせたカジュアルスタイル" width="731" height="921" loading="lazy" decoding="async">
            </picture>
          </li>
          <li class="splide__slide">
            <picture class="c-slide01__img">
              <source srcset="./img/slideAuto05@2x.webp" type="image/webp">
              <img src="./img/slideAuto05@2x.jpg" alt="Hello Kittyバッグと赤トップスが印象的なガーリーな屋外スタイル" width="731" height="921" loading="lazy" decoding="async">
            </picture>
          </li>
          <li class="splide__slide">
            <picture class="c-slide01__img">
              <source srcset="./img/slideAuto06@2x.webp" type="image/webp">
              <img src="./img/slideAuto06@2x.jpg" alt="Hello Kitty刺繍トップスと赤いリボン付きデニムが可愛いガーリールック" width="731" height="921" loading="lazy" decoding="async">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>