@use "global" as *;

.p-404 {
  text-align: center;
  word-break: auto-phrase;
}

.p-404__title {
  font-size: r(28);
  font-weight: 700;
  line-height: 150%;
  @include mq() {
    font-size: r(22);
  }
}

.p-404__text {
  font-size: r(18);
  margin-top: r(32);
  line-height: 150%;
  @include mq() {
    font-size: r(16);
    margin-top: r(20);
  }
}

.p-404__button {
  margin-top: r(60);
  @include mq() {
    margin-top: r(32);
  }
}