@use "global" as *;
.p-card01 {
  
}

.p-card01__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: r(24);
}

.p-card01__item {

}

.p-card01__img {
  // aspect-ratio: 431 / 626;
  // overflow: hidden;
  // display: block;
}


.p-card01__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

