<div class="p-card01">
  <ul class="p-card01__items">
    <li class="p-card01__item">
      <picture class="p-card01__img">
        <source srcset="../img/thumbnail01@2x.webp" type="image/webp">
        <img src="../img/thumbnail01@2x.png" alt="" width="431" height="626" decoding="async" loading="lazy">
      </picture>
    </li>
    <li class="p-card01__item">
      <picture class="p-card01__img">
        <source srcset="../img/thumbnail02@2x.webp" type="image/webp">
        <img src="../img/thumbnail02@2x.jpg" alt="" width="431" height="626" decoding="async" loading="lazy">
      </picture>
    </li>
    <li class="p-card01__item">
      <picture class="p-card01__img">
        <source srcset="../img/thumbnail03@2x.webp" type="image/webp">
        <img src="../img/thumbnail03@2x.jpg" alt="" width="431" height="626" decoding="async" loading="lazy">
      </picture>
    </li>
    <li class="p-card01__item">
      <picture class="p-card01__img">
        <source srcset="../img/thumbnail04@2x.webp" type="image/webp">
        <img src="../img/thumbnail04@2x.jpg" alt="" width="431" height="626" decoding="async" loading="lazy">
      </picture>
    </li>
  </ul>
</div>