@use "global" as *;

.c-slide04__img {
  aspect-ratio: 253 / 271;
  overflow: hidden;
  display: block;
  @include mq() {
    width: 80%;
    margin-inline: auto;
  }
}

.c-slide04__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: r(5);
}


.c-slide04 .splide__pagination {
  bottom: r(-32);
  @include mq() {
    bottom: r(-24);
  }
}

.c-slide04 .splide__pagination__page {
  width: r(16);
  height: r(16);
  margin-inline: r(8);
  background-color: var(--color-white);
  border: r(2) solid var(--color-base);
  @include mq() {
    width: r(12);
    height: r(12);
    margin-inline: r(4);
  }
}

.c-slide04 .splide__pagination__page.is-active {
  transform: scale(1);
  background-color: var(--color-base);
}